@model BugHound.Models.Ticket

<br />
<div class="row">
    <div class="col-md-12">
        <h2>Bug Ticket: <u> @Html.DisplayFor(model => model.Title) </u></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @*<h4>Ticket No. @Html.DisplayFor(model => model.Id)</h4>*@
        @if (Model.Priority.Name == "Critical")
        {
            <h3>Priority: <span class="label label-danger">Critical</span></h3>
        }
        @if (Model.Priority.Name == "High")
        {
            <h3>Priority: <span class="label label-warning">High</span></h3>
        }
        @if (Model.Priority.Name == "Medium")
        {
            <h3>Priority: <span class="label label-info">Medium</span></h3>
        }
        @if (Model.Priority.Name == "Low")
        {
            <h3>Priority: <span class="label label-default">Low</span></h3>
        }
    </div>
    <div class="col-md-2">
        @if (Model.Status.Name == "Open")
        {
            <h3>Status: <span class="label label-success">Open</span></h3>
        }

    </div>
    <div class="col-md-3">
        <h3>Part of the <u> @Html.DisplayFor(model => model.Project.Name) </u> project.</h3>
    </div>
    <div class="col-md-5">
        <h3>Reported as:<u> @Html.DisplayFor(model => model.Type.Name)</u></h3>
    </div>
</div>
<div class="row"><hr /><br /></div>
<div class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.LastedUpdated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastedUpdated)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Narration)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Narration)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Attachments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Attachments)
                </dd>*@

            @*<dt>

                    Priority
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Priority.Name)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Project.Name)
                    Project
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Status.Name)
                    Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status.Name)
                </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Type.Name)
                    Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type.Name)
                </dd>*@

            <dt>
                @*@Html.DisplayNameFor(model => model.User.Name)*@
                Assigned To
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.User1.Name)*@
                Entered By
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User1.Name)
            </dd>

        </dl>
    </div>
    <div class="col-md-7">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#pane1" data-toggle="tab">Comments</a></li>
                <li><a href="#pane2" data-toggle="tab">Attachments</a></li>
                <li><a href="#pane3" data-toggle="tab">History</a></li>
            </ul>
            <div class="tab-content">
                <div id="pane1" class="tab-pane active">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="span3">
                                    <div style="height:300px; overflow:auto">
                                        <table class="table table-bordered table-striped table-hover">
                                            <tr>
                                                <th>
                                                    Comment
                                                </th>
                                                <th>
                                                    Made By
                                                </th>
                                            </tr>
                                            @foreach (var item in Model.Comments)
                                            {
                                                <tr>
                                                    <td>
                                                        <a id="popover-@item.Id" class="btn" href="" data-content="@item.Comment1" rel="popover" data-placement="bottom" data-original-title="Full Comment:">

                                                            @if (!string.IsNullOrEmpty(item.Comment1))
                                                            {
                                                                @item.Comment1.Substring(0, Math.Min(item.Comment1.Length, 70))
                                                            }
                                                        </a>
                                                        @*@Html.DisplayFor(modelItem => item.Comment1)*@
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.User.Name)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div><!--end of span-->
                            </div>
                        </div>
                        <div class="row"><br /></div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="btn-group-justified">
                                    @Html.ActionLink("New Comment", "Create", "Comments", new { ticketid = Model.Id }, htmlAttributes: new { @class = "btn  btn-default btn-md" })
                                    @Html.ActionLink("Change Status", "StatusChange", "Tickets", new { ticketid = Model.Id }, htmlAttributes: new { @class = "btn  btn-default btn-md" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pane2" class="tab-pane">
                    @*<div class="row"><br /></div>*@
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="span3">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            @*<th>
                                                    Attachment File Name
                                                </th>*@
                                            <th>
                                                Attachment Description
                                            </th>
                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                        @foreach (var item in Model.Attachements)
                                        {
                                            <tr>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.FileName)
                                                    </td>*@
                                                <td>
                                                    <a id="popover-@item.Id" class="btn" href="" data-content="@item.Description" rel="popover" data-placement="bottom" data-original-title="Full Comment:">

                                                        @if (!string.IsNullOrEmpty(item.Description))
                                                        {
                                                            @item.Description.Substring(0, Math.Min(item.Description.Length, 40))
                                                        }
                                                    </a>
                                                    @*@Html.DisplayFor(modelItem => item.Comment1)*@
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Download", "Download", "Tickets", new { FileId = item.Id }, htmlAttributes: new { @class = "btn  btn-default btn-sm" })
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row"><br /></div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                @Html.ActionLink("New Attachment", "AttachCreate", "Tickets", new { TicketId = Model.Id }, htmlAttributes: new { @class = "btn  btn-default btn-md" })
                            </div>
                        </div>
                    </div>
                </div><!-- /.tabbable -->
                <div id="pane3" class="tab-pane">
                    <div class="well">
                        <div class="row">
                            <p>History</p>
                        </div>
                    </div>
                </div><!-- /.tab-content-->
            </div>
        </div>
    </div>
</div>

<p>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="@ViewBag.PreviousPage" class="previous">&larr; Return</a></li>
        </ul>
    </nav>
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {
            $("[rel='popover']").popover({
                trigger: 'hover',
                template: '<div class="popover wide">' +
                              '<div class="arrow"></div>' +
                              '<div class="popover-inner">' +
                                  '<h3 class="popover-title"></h3>' +
                                  '<div class="popover-content"><p></p></div>' +
                              '</div>' +
                          '</div>'
            });
        });
    </script>
}
