@model BugHound.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notification1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notification1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recieved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
