@model IEnumerable<BugHound.Models.Project>

<h2>Project List</h2>

<p>
    @Html.ActionLink("New Project", "Create", "Projects", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md" })

</p>
<table class="table">
    <tr>
        <th>
            Project Name
        </th>
        <th>
            Project Manager
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.HiddenFor(modelItem => item.Id)
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Tickets", "Index", "Tickets", new { projid=item.Id }, null )|
        
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            @if (User.IsInRole("Administrator")) 
            {
                @Html.ActionLink("| Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
