@using Microsoft.AspNet.Identity
@model IEnumerable<BugHound.Models.Ticket>

@*<div class="row ">
    <div class="col-md-12">
        <div class="bg-primary padded-15">
            <p>Administrator: @User.Identity.GetUserName()  </p>
        </div>
    </div>
</div>*@
<div class="row"><br /></div>
<div class="row padded-15"> 
    <div class="col-md-3 col-md-offset-1">
        @Html.ActionLink("List Users", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
    @*<div class="col-md-4 col-md-offset-1">
        <span class="glyphicon glyphicon-envelope"></span> - You have Notification(s).
    </div>*@
</div>
<div class="row padded-15">
    <div class="col-md-3 col-md-offset-1">
        @Html.ActionLink("List Projects", "Index", "Projects", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("New Project", "Create", "Projects", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
</div>
<div class="row padded-15">
    <div class="col-md-3 col-md-offset-1">
        @Html.ActionLink("List Tickets", "Index", "Tickets", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("New Ticket", "Create", "Tickets", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-md btn-block" })
    </div>
</div>
