@*
<div class="container bg-info">
    <div class="row">
        <div class="col-2">
            <h3>@ViewBag.Message</h3>
            <h3>Administrator</h3>
        </div>

        <div class="col-md-6">
            @Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-sm" })
            <br /><br />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        @Html.ActionLink("Users", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-sm" })
    </div>
    <div class="col-md-4"> </div>
</div>*@

<table class="table bg-info">
    <tr>
        <th>Administrator</th>
        <th class ="center-block"></th>
    </tr>
    <tr >
        <td></td>
        <td >
            @Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-sm" })
        </td>
    </tr>
    <tr>
        <td></td>    
        <td>
            @Html.ActionLink("Users", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "btn  btn-primary btn-sm" })
        </td>
    </tr>
</table>